 * {   
margin: 0px;
padding: 0px;
box-sizing: border-box;
font: Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
}

html {
    height:100vh;
    background-color: #9acde0e3;
}

p, a, div {
    font-size: 1.6rem;
}

.header > .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #9ACDE0;
    margin-bottom: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    place-self: center;
    place-content: center;
    place-items: center;
    background-color: #CBE1EF;
    height: 100%;
    border-radius: 30px;
    /* width: 125vh; */
    width: 60%;
    margin: auto;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.main > .main-container {
    display: flex;
    gap: 50px;
    flex-flow: wrap;
    padding: 10px;
    padding: 30px 0px;
    height: 100vp;
    align-items: center;
    justify-content: center;
}

.main > .main-container > .card {
    border: 1px solid white;
    padding: 10px;
    background-color: #FFDDD3;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.button-21 {
  align-items: center;
  appearance: none;
  background-color: #4845D2;
  background-image: linear-gradient(1deg, #4845D2, #4845D2 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}