 * {   
margin: 0px;
padding: 0px;
box-sizing: border-box;
font: Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
}

p, a, div {
    font-size: 1.6rem;
}