 * {   
margin: 0px;
padding: 0px;
font: Helvetica, Arial, sans-serif;
}

html {
    /* height:100vh; */
    background-color: #9acde0e3;
}

p, a, div {
    display: block;;
    font-size: 1.6rem;
}

body {
  display: flex;
  flex-direction: column;
}

.header > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #9ACDE0;
    margin-bottom: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CBE1EF;
    border-radius: 30px;
    min-width: 25vh;
    width: fit-content;
    margin: auto;
    border: 1px solid white;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.main > .main-container {
    display: flex;
    gap: 50px;
    flex-flow: wrap;
    padding: 10px;
    padding: 30px 0px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.main > .main-container > .card {
    padding: 20px;
    background-color: #4745d21e;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.book-name {
  font-weight: bold;
}

.book-author {
  font-style: italic;
}

.book-pages {
  font-weight: bolder;
  font-size: 2vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;
  min-height: 350px;
  gap: 10px;
}

.card > img {
  max-width: 150px;
  width: auto;
  height: auto;
  margin-bottom: 15px;
}

/* I've used a pre-built css button from 
https://getcssscan.com/css-buttons-examples */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #4845D2;
  background-image: linear-gradient(1deg, #4845D2, #4845D2 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.main > a {
  background-color:#9acde08f;
  border-radius: 50px;
  margin-top: 20px;
  /* border: 1px solid rgba(0, 0, 0, 0.068); */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  left: 95%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  /* width: fit-content; */
  width: 30vh;
  display: flex;
  flex-direction: column;
}

input {
  width:200px;
  padding:20px;
  box-sizing: border-box;
  padding:10px;
  margin:10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-round {
  background-color: rgb(4, 219, 4);
}

input:focus + .slider-round {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-round {
  border-radius: 34px;
}

.slider-round:before {
  border-radius: 50%;
}



.remove-card {
  color: rgb(19, 2, 2);
  float: right;
  font-size: 35px;
  font-weight: bold;
  position: relative;
  left: 45%;
}

.remove-card:hover,
.remove-card:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}