 * {   
margin: 0px;
padding: 0px;
font: Helvetica, Arial, sans-serif;
}

html {
    /* height:100vh; */
    background-color: #9acde0e3;
}

p, a, div {
    font-size: 1.6rem;
}

body {
  display: flex;
  flex-direction: column;
}

.header > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #9ACDE0;
    margin-bottom: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CBE1EF;
    border-radius: 30px;
    min-width: 25vh;
    width: fit-content;
    margin: auto;
    border: 1px solid white;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.main > .main-container {
    display: flex;
    gap: 50px;
    flex-flow: wrap;
    padding: 10px;
    padding: 30px 0px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.main > .main-container > .card {
    padding: 20px;
    background-color: #4745d21e;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.book-name {
  font-weight: bold;
}

.book-author {
  font-style: italic;
}

.book-pages {
  font-weight: bolder;
  font-size: 2vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;
  min-height: 350px;
}

.card > img {
  max-width: 150px;
  width: auto;
  height: auto;
  margin-bottom: 15px;
}

/* I've used a pre-built css button from 
https://getcssscan.com/css-buttons-examples */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #4845D2;
  background-image: linear-gradient(1deg, #4845D2, #4845D2 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}


.main > a {
  background-color:#9acde08f;
  border-radius: 50px;
  margin-top: 20px;
  /* border: 1px solid rgba(0, 0, 0, 0.068); */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
